/*
#FILE NAME:dc_3.css
#DESCRIPTION:Custom Style for iOpsMon Reports
#USAGE:Used as part of the iOpsMon Reports
#DATE:19/01/2016
#VERSION:V0.1
#Owner: Deepak Chohan
*/

body
{
background-color: rgb(38, 38, 38);
border-style: solid;
border-color: rgb(242, 242, 242);
border-width: 3px;
border-radius:10px;
}

h1
{

Color: rgb(255, 255, 255);
text-shadow: 4px 4px 6px #000000;
text-align: center;
Font-Family: Verdana;
font-size: 30px;
}

h2
{
Color: rgb(255, 255, 255);
text-transform: capitalize;
text-align: left;
text-shadow: 4px 4px 6px #000000;
Font-Family: Verdana;
font-size: 20px;
Padding: 5px;
}

h3
{
text-transform: lowercase;
}

table

{
Margin: 0px 0px 0px 4px;
Border: 1px solid rgb(190, 190, 190);
Font-Family: Verdana;
Font-Size: 8pt;
Background-Color: rgb(252, 252, 252);
text-align: left;

}

tr:hover td
{
Background-Color: rgb(243, 243, 34);
Color: rgb(0, 0, 0);
font-weight: bold;
}

tr:nth-child(even)
{
Background-Color: rgb(242, 242, 242);
}

th
{
Text-Align: Left;
Color: rgb(0, 0, 0);
Background-Color: rgb(39, 137, 217);
Padding: 1px 4px 1px 4px;
font-weight: bold;
}

td
{
Vertical-Align: Top;
Padding: 1px 4px 1px 4px;
}

